<div class="container" style="margin-top:10px;">
	<div class="row">
		<div class="panel panel-default">
			 <div class="panel-heading">Map</div> 
			 	<div id="map"></div>
			 	
			 	<script>
			 		function initMap()
			 		{
			 			var marker = '';

			 			//Map options
			 			var options = {
			 				zoom:12,
			 				center:{lat:13.7244416,lng:100.3529071}
			 			}
			 			
			 			//New Map
			 			var map = new google.maps.Map(document.getElementById('map'), options); 

			 			// Listen for click on map
     					google.maps.event.addListener(map, 'click', function(event){
     						if (marker && marker.setMap) {
							    marker.setMap(null);
							}
        					// Add marker
        					addMarker({
        						coords:event.latLng,
        						content:'<p>latlng:'+event.latLng+'</p>',
        						latVal:event.latLng.lat(),
        						lngVal:event.latLng.lng()}
        					);
      					});

      					// Add Marker Function
		 				function addMarker(param){

			 				marker = new google.maps.Marker({
			 					position:param.coords,
			 					map:map,
			 				});
			 				
			 				// Call Geocode
			 				geocode(param);

			 				// Check for customicon
			 				if(param.iconImage){
			 					// Set Icon Image
			 					marker.setIcon(param.iconImage);
			 				}

			 				// Check content
			 				if(param.content){
			 					// Set Content
			 					var infoWindow = new google.maps.InfoWindow({
			 						content:param.content
			 					});

			 					marker.addListener('click', function(){
	        						infoWindow.open(map, marker);
	      						});
			 				}
			 			}
			 		}

			 		function geocode(val)
			 		{
			 			axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
			 				params:{
			 					latlng: val.latVal+','+val.lngVal,
			 					key:'AIzaSyCbYS9Npi_ngB5S9NJyuLgJwxnG81v5fbI'
			 				}
			 			}).then(function(response){
			 				// Log full response
        					console.log(response);

        					// Formatted Address
        					var formattedAddress = response.data.results[0].formatted_address;
        					var formattedAddressOutput = `
        						<ul class="list-group">
        							<li class="list-group-item">${formattedAddress}</li>
        						</ul>`;

        					// Address Component
        					var addressComponents = response.data.results[0].address_components;
        					var addressComponentsOutput = '<ul class="list-group">';
        					for(var i = 0; i < addressComponents.length; i++){
        						addressComponentsOutput += `
        							<li class="list-group-item">
        								<strong>
        									${addressComponents[i].types[0]}
        								</strong>
        								: ${addressComponents[i].long_name}
        							</li>
        						`;
        					}
        					addressComponentsOutput += '</ul>';

        					// Geometry
        					var lat = response.data.results[0].geometry.location.lat;
        					var lng = response.data.results[0].geometry.location.lng;

        					var geometryOutput = `
        						<strong>Latitude: </strong> ${lat} <br/>
        						<strong>Longtitude: </strong> ${lng}
        					`;

        					// Output on screen
        					document.getElementById('formatted-address').innerHTML = formattedAddressOutput;
        					document.getElementById('address-components').innerHTML = addressComponentsOutput;
        					document.getElementById('geometry').innerHTML = geometryOutput;

        					document.getElementById('addressComponentCard').style.display = "block";
        					document.getElementById('submitBtn').style.display = "block";
        					
			 			}).catch(function(error){
			 				console.log(error);
			 			});
			 		}
			 	</script>
			 	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbYS9Npi_ngB5S9NJyuLgJwxnG81v5fbI&callback=initMap" async defer>
			 	</script>
		</div>
		<div class="card-block" id="formatted-address"></div>
		<div class="card" id="addressComponentCard" style="display: none;">
			<div class="card-block">
				<h4 class="card-title">Address Components</h4>
				<p class="card-text" id="geometry"></p>
			</div>
			<div id="address-components"></div>
		</div>
		<form class="navbar-form navbar-left" action="?act=sendMail" method="post">
			<button type="submit" id="submitBtn" class="btn btn-success" style="display:none;">Send Email</button>
		</form>
	</div>
</div>